.rich-text {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
    font-family: 'Inter', sans-serif;

    h1 {
        @apply text-[3.2rem] font-[900] text-[#e31b23] mb-6 tracking-[-0.04em] leading-tight;
        font-family: 'Inter', sans-serif;
    }
    h2 {
        @apply text-[1.8rem] font-bold text-gray-900 mb-4 mt-12 tracking-tight leading-tight;
        font-family: 'Inter', sans-serif;
    }
    p {
        @apply text-[1.1rem] text-gray-600 leading-[1.7] mb-6;
        font-weight: 400;
    }
    b, strong {
        @apply font-bold text-gray-900;
    }
}
