@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.05);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Inter', 'Hind Siliguri', sans-serif;
}

.font-bengali {
  font-family: 'Hind Siliguri', sans-serif;
}